<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'modules/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'modules/css/custom.css' %}">
  <title>PVAZ - Specs</title>
</head>
<body>
<div class="container">
  
    <header class="text-center">
        <h1 class="display-1">PVAZ <small class="text-muted">The Arizona Model</small></h1>
        <p class="lead">Compare photovoltaic modules using a specialized standard that reflects the climate of Arizona.</p>
    </header>

    <nav class="nav nav-pills navbar-toggleable-sm justify-content-center">
        <a class="nav-item nav-link" href="/module/">Home</a>
        <a class="nav-item nav-link active" href="#">Module Specs</a>
        <a class="nav-item nav-link" href="/module/moduleRequest/">Module Request</a>
    </nav>

    <div class="row">
        <section class="leftArea col-7 mx-auto">
            <p class="d-block">Select the module:</p>
        
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Module List
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Module 1</a>
                      <a class="dropdown-item" href="#">Module 2</a>
                      <a class="dropdown-item" href="#">Module 3</a>
                    </div>
                </div>
                <br>
                
                <table class="table-hover table table-sm">
                    <tbody>
                      <tr>
                        <th scope="row">Module Name/ID</th>
                        <td>GYSP-69</td>
                      </tr>
                      <tr>
                        <th scope="row">Max Voltage</th>
                        <td>Plenty</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell Technology</th>
                        <td colspan="2">Nanobots</td>
                      </tr>
                      <tr>
                        <th scope="row">Size</th>
                        <td colspan="2">Big</td>
                      </tr>
                      <tr>
                        <th scope="row">Material</th>
                        <td colspan="2">Adamantium</td>
                      </tr>
                      <tr>
                        <th scope="row">Cell area</th>
                        <td colspan="2">Not that big</td>
                      </tr>
                    </tbody>
                </table>
        </section>
        
    </div><!-- row -->
  
</div><!-- container -->

<footer class="footer">
  <div class="container">
    <nav class="nav justify-content-center">
        <a class=" pr-4" style="color:white;" href="/module/about/">About</a>
        <a style="color:white" href="/module/contact/">Contact Us</a>
    </nav>
  </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>